@model PL.ASP.MVC.Models.Books.UploadOrEditBookViewModel
@{
    ViewBag.Title = "Edit book's data";
}

<form style="width:80vw;margin: 1rem auto;" method="post" asp-controller="Books" asp-action="EditBookData">
    <h2>Updating data of "@Model.Title"</h2>
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Title">Book's title</label>
            <input type="text" maxlength="100" asp-for="Title" class="form-control" placeholder="War and Peace" value="@Model.Title">
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Author">Book's author</label>
            <input asp-for="Author" maxlength="100" type="text" class="form-control" placeholder="Leo Tolstoy" value="@Model.Author">
            <span asp-validation-for="Author"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Genre">Book's genre</label>
            <input type="text" maxlength="100" asp-for="Genre" class="form-control" placeholder="Novel" value="@Model.Genre">
        </div>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="Description">Describe that book</label>
            <textarea class="form-control" asp-for="Description">@Model.Description</textarea>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Save"/>
    </div>
</form>
