@model WebApplication.Models.Account.UserProfileViewModel

<!DOCTYPE html>

<html>
<style>
.container {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1.2fr 1fr;
  grid-template-rows: 0.7fr 0.6fr 1.4fr 1.3fr;
  gap: 10px 10px;
  grid-auto-flow: row dense;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "user-name user-name additional-info additional-info"
    "user-info user-info additional-info additional-info"
    "own-books own-books own-books own-books"
    "fav-books fav-books fav-books fav-books";
}

.additional-info {

  justify-self: stretch;
  align-self: stretch;
  grid-area: additional-info;
}

.own-books {

  align-self: start;
  grid-area: own-books;
}

.fav-books {

  align-self: start;
  grid-area: fav-books;
}

.user-info { grid-area: user-info; }

.user-name {

  justify-self: stretch;
  align-self: stretch;
  grid-area: user-name;
}

.InfoTextArea {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  resize: none;
  border: none;
  background-color: transparent;
  color: black;
}

.book-card{
margin: 10px 5px;
}
.avatar-pic {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 30%;
  object-fit: cover;
  margin-bottom: 10px;
}


</style>
<head>
    <title>User profile</title>
</head>
<body>
@if (User.Identity.IsAuthenticated)
{
    //if not editing mode, then just show user's info and switch mode button                                    
    @if(!Model.EditingMode)
     {
         <div class="container" style="width: 90%; height: 80%">
           <div class="additional-info">
                            <h5>Additional info about @Model.User.UserName</h5>
                           <textarea disabled class="InfoTextArea"> @Model.User.AdditionalInfo</textarea>
                        </div>
           <div class="own-books"><h3>@Model.User.UserName's own books</h3>
               <div class="card" style="max-width: 80vw;overflow: auto">
                                                       <div class="row flex-nowrap" style="padding-left: 30px; padding-right: 30px">
                                                           @foreach (var book in Model.User.OwnBooks)
                                                           {
                                                               <div class="book-card card text-white bg-dark mb-3 text-center" style="width: 13rem; height: 18rem;  min-width: 13rem; min-height: 18rem; display: inline-block; border: none; @book.CardBg">
                                                                   <div class="card-header">
                                                                       @book.Author
                                                                   </div>
                                                                   <div class="card-body">
                                                                       <h4 class="card-title">@book.Title</h4>
                                                                       <h5 class="card-subtitle">@book.Genre</h5>
                                                                       <p class="card-text" style="font-size: small">
                                                                       </p>
                                                                       <a asp-controller="Books" asp-action="BookPage" asp-route-Id="@book.Id" class="badge badge-light" style="position:absolute; left: 5%; bottom: 5%;">View</a>
                                                                       <span class="badge badge-success" style="position:absolute; right: 5%; bottom: 5%;">Likes: @book.LikesCount</span>
                                                                   </div>
                                                               </div>
                                                           }
                                                       </div>
                                                   </div></div>
             <div class="fav-books">
                 <h3>@Model.User.UserName's favorite books</h3>
                 <div class="card" style="max-width: 80vw;overflow: auto">
                                      <div class="row flex-nowrap" style="padding-left: 30px; padding-right: 30px">
                                                               @foreach (var book in Model.FavoriteBooks)
                                                               {
                                                                   <div class="book-card card text-white bg-dark mb-3 text-center" style="width: 13rem; height: 18rem;  min-width: 13rem; min-height: 18rem; display: inline-block; border: none; @book.CardBg">
                                                                       <div class="card-header">
                                                                           @book.Author
                                                                       </div>
                                                                       <div class="card-body">
                                                                           <h4 class="card-title">@book.Title</h4>
                                                                           <h5 class="card-subtitle">@book.Genre</h5>
                                                                           <p class="card-text" style="font-size: small">
                                                                           </p>
                                                                           <a asp-controller="Books" asp-action="BookPage" asp-route-Id="@book.Id" class="badge badge-light" style="position:absolute; left: 5%; bottom: 5%;">View</a>
                                                                           <span class="badge badge-success" style="position:absolute; right: 5%; bottom: 5%;">Likes: @book.LikesCount</span>
                                                                       </div>
                                                                   </div>
                                                               }
                                                           </div>
                                  </div>
             </div>
             <div class="user-name">
                 <h3>@Model.User.UserName</h3>
                 @if (Model.User.Avatar != null && Model.User.Avatar.Length > 0)
                                  {
                                      <img src="data:image;base64,@Convert.ToBase64String(Model.User.Avatar)" class="avatar-pic" alt="Avatar"/>
                                  }
                                  else
                                  {
                                      <img src="/images/default-avatar.jpg" alt="Avatar" class="avatar-pic" style="">}
                                  <a class="btn btn-outline-dark btn-sm" style="display: block; width: 40%" asp-controller="Account" asp-action="Index" asp-route-editMode="true">Edit profile</a>

             </div>
             <div class="user-info">
                  <p><b>First name:</b> @Model.User.FirstName</p>
                 <p><b>Last name:</b> @Model.User.LastName</p>
                 <p><b>Date of birth:</b> @Model.User.DateOfBirth</p>
                 <p><b>City:</b> @Model.User.City</p>
             </div>
         </div>
         
     }
    else
    {
        <form method="post" asp-controller="Account" asp-action="EditProfile" enctype="multipart/form-data" style="width:90%; height: 90%">
            @*<input type="hidden"value="@Model.User" asp-for="User"/>*@
            <div asp-validation-summary="All"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Email">Email</label>
                    <input type="email" readonly asp-for="Email" class="form-control" value="@Model.Email" placeholder="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" readonly type="text" class="form-control" value="@Model.Username" placeholder="JohnyAppleseed">
                    <span asp-validation-for="Username"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Password">New password</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PasswordConfirm">Confirm new password</label>
                    <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Password">
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewAvatar">Profile photo</label>
                <input type="file" accept=".png, .jpg, .jpeg" asp-for="NewAvatar" class="form-control"/>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FName">First name</label>
                    <input type="text" asp-for="FName" class="form-control" placeholder="Bob">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LName">Last name</label>
                    <input asp-for="LName" type="text" class="form-control" placeholder="Dylan">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="DateOfBirth">Date of birth</label>
                    <input type="date" class="form-control" asp-for="DateOfBirth"/>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="City">City</label>
                    <input type="text" asp-for="City" class="form-control" placeholder="Saratov"/>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo">Additional info</label>
                <textarea class="form-control" asp-for="AdditionalInfo">@Model.User.AdditionalInfo</textarea>
            </div>
            <div class="form-group">
                            <label asp-for="OldPassword">Current password</label>
                <input type="password" class="form-control" asp-for="OldPassword" placeholder="Current password"/>
                </div>
            <div>
                <input class="btn btn-primary btn-block" type="submit" value="Save changes"/>
            </div>
        </form>
    }
   
}
else
{
    <h3>Please login to get access to this page</h3>
}
</body>
</html>